<div id="cookieBox" class="fixed center bottom-0 left-0 right-0 h4 w-100 bg-white-90 shadow-1 dn flex-wrap justify-center pv2">
	<div class="flex items-center justify-center w-100 fw6 brand-blue lh-solid">This website uses cookies</div>
	<div class="w-100 ph5 tc f6">We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services</div>
	<a id="closeCookieBox" href="javascript:void(0)" class="flex justify-center items-center pv1 ph4 br2 pointer custom-btn orange-btn tc link">OK</a>
</div>
