<div id="joinTeam" class="modal fixed center absolute--fill w-100 h-100 white dn items-center justify-center">
	<div class="relative w-90 w-70-m w-30-l bg-white shadow-4 br2 pv4">
		<a href="javascript:void(0)" onclick="closeModal()"><img src="{{site.baseurl}}/assets/img/close.svg" alt="x" class="absolute right-1 top-1"></a>
		<h2 class="f3 tc fw7 mb2 brand-blue">Join the team</h2>
		<p class="f4 fw1 brand-blue tc w-100 w-90-l center ph4 lh-copy mv0">Send us an email at <a href="#" class="brand-orange">stackcenter@.com</a> and let's get a coffee.</p>
	</div>
</div>

<div id="earlyAccess" class="modal fixed center absolute--fill w-100 h-100 white dn items-center justify-center">
	<div class="relative w-90 w-70-m w-30-l early-access bg-white shadow-4 br2">
		<a href="javascript:void(0)" onclick="closeModal()"><img src="{{site.baseurl}}/assets/img/close.svg" alt="x" class="absolute right-1 top-1"></a>
		<h2 class="f3 tc fw7 mt5 mb2 brand-blue">Get early access</h2>
		<p class="f4 fw1 brand-blue tc w-90 w-60-m w-60-l center lh-copy mv0">Fill the form and we will contact with you soon</p>
		<form action="" class="flex flex-column pv3 ph4 ph5-l">
			<input type="text" class="mb3 pa3 br2 ba b--moon-gray" placeholder="Enter your email">
			<a href="#" class="custom-btn orange-btn mr4 tc pv3 w-100">{{ page.accessCta }}</a>
		</form>
	</div>
</div>


<footer class="wrapper--n flex justify-between-l flex-wrap items-center pv4 ph3 ph4-l w-100 w-100-m w-100-l center relative">
	<div class="flex justify-around justify-start-l w-100 w-100-m w-20-l f6">
		<a href="/" class="w-80">
			<img src="{{site.baseurl}}/assets/img/logoTextBlack.svg"  class="logo w-100 db center">
		</a>
	</div>
	<div class="flex justify-around justify-center w-100 w-100-m w-50-l mv4 mv4-m mv0-l f6 center">
		<a href="#" class="f5 brand-blue ttc link dim">Start project</a>
		<a href="/about.html" class="f5 mh4-m mh4-l brand-blue ttc link dim">Team</a>
		<a href="/contact.html" class="f5 brand-blue ttc link dim">Contacts</a>
		<a href="/privacy-policy.html" class="f5 brand-blue ttc link dim ml4-m ml4-l">Privacy policy</a>
		<a href="/terms-of-use.html" class="f5 brand-blue ttc link dim ml4-m ml4-l">Terms</a>
	</div>
	<div class="socials flex justify-center justify-end-l w-100 w-100-m w-20-l">
		<a href="#" class="f4 f5-l br-100 w3 h3 w3-m h3-m w2-l h2-l inline-flex items-center justify-center b--light-silver light-silver ba link"><i class='fa fa-facebook'></i></a>
		<a href="#" class="f4 f5-l br-100 w3 h3 w3-m h3-m w2-l h2-l inline-flex items-center justify-center b--light-silver light-silver ba link mh3 mh4-m"><i class='fa fa-twitter'></i></a>
		<a href="#" class="f4 f5-l br-100 w3 h3 w3-m h3-m w2-l h2-l inline-flex items-center justify-center b--light-silver light-silver ba link"><i class='fa fa-instagram'></i></a>
	</div>
	{% include /cookie.html %}
	<script src="{{ "/assets/js/index.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/api.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/cookie.js" | relative_url }}"></script>
</footer>
