<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{%- seo -%}
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
	<link rel="manifest" href="assets/img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/img/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/font.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/tachyons.css" | relative_url }}">
	{%- feed_meta -%}
</head>
