<header class="wrapper--n header absolute top-0 left-0 right-0 w-100 ph4">
	<div class="h-100 fl w-100 w-100-m w-50-l flex items-center">
		<a href="/" class="w-60 w-40-l">
			<img src="{{site.baseurl}}/assets/img/logoText.svg"  class="logo w-100 db center">
		</a>
		<span class="hamburger white" onclick="openNav()">&#9776;</span>
	</div>
	<div class="links h-100 fl w-50 w-50-m w-50-l flex items-center justify-end">
		<a href="/about.html" class="f5 f4-l ml2 ml5-l pointer link white underline-hover">Our story</a>
		<a href="javascript:void(0)" onclick="joinTeam()" class="f5 f4-l ml2 ml5-l pointer link white underline-hover">Join the team</a>
		<a href="/blog.html" class="f5 f4-l ml2 ml5-l pointer link white underline-hover">Blog</a>
	</div>
	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn brand-blue" onclick="closeNav()">&times;</a>
		<a href="/about.html" class="brand-blue">Our story</a>
		<a href="javascript:void(0)" onclick="joinTeam()" class="brand-blue">Join the team</a>
	  <a href="/blog.html" class="brand-blue">Blog</a>
	</div>
</header>
