body {
	font-family: "Dosis", "Roboto";
	overflow-x: hidden;
}

a,
button,
input,
textarea {
	outline: none;
	transition: all .2s linear;
}

input:focus,
textarea:focus {
	border-color: #fe5e10;
}
/* Custom CSS */
header {
	height: 100px;
}

.wrapper--lg {
	max-width: 1440px;
	margin: auto;
}

.wrapper--n {
	max-width: 1140px;
	padding: 0 2rem;
	margin: auto;
}

.bblue {
	background-color: #252525;
}

.borange {
	background-color: #fd853e;
}

.brand-orange {
	color: #f35a38;
	transition: all .3s linear;
}

a.brand-orange:hover {
	color: #be4a6e;
}

.bgray {
	background-color: #F4F6F8;
}

a.bblue:hover {
	background-color: #31397d;
	transition: all .2s linear;
}

a.bpurple:hover {
	background-color: #5160da;
	transition: all .2s linear;
}

.brand-blue {
	color: #252525;
	transition: all .2s linear;
}

.brand-purple {
	color: #2736b2;
}

.bpurple {
	background-color: #2736b2;
}

a.brand-blue:hover {
	color: #252525;
}

.custom-btn {
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	border-radius: 3px;
	padding: 14px 20px;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: .6px;
	transition: all .3s linear;
	min-width: 170px;
}

a.orange-btn,
input.orange-btn {
	background: rgb(255,90,16);
	background: linear-gradient(90deg, rgba(255,90,16,1) 0%, rgba(255,150,35,1) 100%);
	border: 0;
}

a.orange-btn:hover,
input.orange-btn:hover {
	background: rgb(255,122,16);
	background: linear-gradient(90deg, rgba(255,122,16,1) 0%, rgba(255,203,35,1) 100%);
	border: 0;
}

a.outline-btn {
	border: 1px solid white;
	background-color: transparent;
}

a.outline-btn:hover {
	opacity: .6;
}

.post:last-child {
	border: 0;
}

.form {
	background: url("/assets/img/blue-bg.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.hero {
	background: url("/assets/img/heroImage.svg");
	background-repeat: no-repeat;
	background-position: bottom left;
}

.heroOrange {
	background: url("/assets/img/heroImageOrange.svg");
	background-repeat: no-repeat;
	background-position: bottom left;
}

.bg-grayimg {
	background: url("/assets/img/bggray.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
}

.banner {
	margin: -220px 0 0;
}

.blue-banner {
	background: url("/assets/img/bannerBack.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	min-height: 320px;
}

.blue-banner--full {
	background: url("/assets/img/blueSection.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden;
	transition: .5s;
	padding-top: 110px;
}

.sidenav a {
	padding: 10px;
	text-decoration: none;
	font-size: 25px;
	display: block;
	transition: .3s;
	text-align: center;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 48px;
}

.hamburger {
	font-size: 30px;
	margin-left: auto;
	margin-right: 20px;
	cursor: pointer;
	display: none;
}

.socials a {
	transition: all .5s linear;
}

.socials a:hover {
	background-color: #2533AE;
	border-color: #2533AE;
	color: white;
}

.modal {
	background: #0000002e;
	z-index: 2000;
}

.early-access {
	height: 340px;
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}
@media screen and (max-width: 30em) {
	.wrapper--n {
		padding: 0 1rem;
	}
}
@media screen and (max-width: 60em) {
	header .links {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.custom-btn {
		font-size: 15px;
		padding: 12px 10px;
		min-width: 150px;
	}

	.blue-banner {
		background-size: cover;
	}

	.logo {
		max-width: 270px;
	}

}
