<section class="heroOrange bblue vh-100 vh-80-m vh-100-l flex items-center flex-column justify-center tc white cover">
	<div class="wrapper--n w-100 flex flex-column pt3">
		<h2 class="f1 f1-m f-subheadline-l white fw6 ttc ma0">{{page.postTitle}}</h2>
		<p class="f5 f4-l fw1 tc w-100 center ph2 white lh-copy tc mt5">{{page.postDate}}</p>
	</div>
</section>

<div class="w-100 w-100-m w-80-l center ph3 posts pb5 pb6-l">
	<div class="center w-90 w-100-l dark-gray fw3 lh-title pv4 mt4 pv5-l mt5-l lh-copy f4">
		{% for content in page.postContent %}
			<!-- check if image  -->
			{% if content.img %}
				<img src="{{site.baseurl}}{{content.img}}" class="db w-90 w-70-l pv4 center-ns" alt="Post graphic" />
			{% endif %}
			<!-- check if text  -->
			{% if content.text %}
				<div class="pv2">
					{{content.text}}
				</div>
			{% endif %}
			<!-- end of loop -->
		{% endfor %}
	</div>
</div>
