<section class="hero bblue vh-100 vh-80-m vh-100-l flex items-center flex-column justify-center tc white cover">
	<div class="wrapper--n w-100 flex flex-column pt3">
		<h2 class="f1 f-subheadline-m f-subheadline-l white fw6 ttc ma0">{{page.heroTitle}}</h2>
		<p class="f5 f4-l fw1 tc w-100 center ph2 white lh-copy tc mt3 mt5-l">{{page.heroSubtitle}}</p>
	</div>
</section>

<section class="wrapper--n flex flex-wrap justify-around pv4 w-100-m w-70-l center">
	<h2 class="f1 tc fw7 mt5 mb6 brand-blue w-100">{{page.teamTitle}}</h2>
	{% for item in page.members %}
		<div class="w-70 w-40-m w-40-l mb5 mb4-m mb6-l">
			<div class="relative flex items-center justify-center w-100">
				<img src="{{site.baseurl}}{{item.img}}" class="br-100 w-100 w-70-l dib mb0 mb0-m mb0-l" alt="avatar"/>
				<a href="{{item.linkedin}}" class="absolute bottom-0 right-2 right-0-m bottom-0-l right-2-l white pa3 pa4-m pa4-l br-100 bpurple link f3 flex items-center justify-center"><i class='fa fa-linkedin'></i></a>
			</div>
			<h5 class="fw4 f3 f2-l mt3 mt3-m mt4-l mb2 tc brand-blue">{{item.name}}</h5>
			<div class="tc f4 brand-purple">{{item.role}}</div>
		</div>
	{% endfor %}
</section>

<section class="blue-banner--full w-100 tb4 center pv4 ph3-l bgray">
	<div class="wrapper--n flex flex-column justify-center items-center">
		<h2 class="f2 f1-l tc fw7 mt0 mb4 white w-100 w-80-l center">{{page.accessBanner.title}}</h2>
		<a href="javascript:void(0)" onclick="earlyAccess()" class="custom-btn orange-btn center">{{ page.accessCta }}</a>
	</div>
</section>
