<section class="heroOrange bblue vh-100 vh-80-m vh-100-l flex items-center flex-column justify-center tc white cover">
	<div class="wrapper--n w-100 flex flex-column pt3">
		<h2 class="f1 f-subheadline-m f-subheadline-l white fw6 ttc ma0">{{page.heroTitle}}</h2>
		<p class="f5 f4-l fw1 tc w-100 center ph2 white lh-copy tc mt5">{{page.heroSubtitle}}</p>
	</div>
</section>


<section class="wrapper--n w-100 w-100-m w-80-l center pt5 pb6">
	<h2 class="f1 tc fw7 mt0 mb5 brand-blue w-100">{{page.postsTitle}}</h2>
	<div class="flex flex-wrap justify-center items-center">
		{% for item in page.posts %}
			<div class="ba br3 pa4 ma3 b--black-05 w-100 w-100-m w-40-l pr3 pv4">
				<div class="f5 mb3 fw6 brand-blue">{{item.date}}</div>
				<a href="{{item.url}}" class="f2 fw3 brand-orange link">{{item.title}}</a>
				<p class="f5 w-100-m w-80-l brand-blue lh-copy">{{item.text}}</p>
			</div>
		{% endfor %}
	</div>
</section>


<section class="blue-banner--full w-100 tb4 center pv4 ph3-l bgray">
	<div class="wrapper--n flex flex-column justify-center items-center">
		<h2 class="f2 f1-l tc fw7 mt0 mb4 white w-100 w-80-l center">{{page.accessBanner.title}}</h2>
		<a href="javascript:void(0)" onclick="earlyAccess()" class="custom-btn orange-btn center">{{ page.accessCta }}</a>
	</div>
</section>
