<section class="hero bblue vh-75-m vh-75-l flex items-center flex-column justify-center tc white cover">
	<div class="wrapper--n w-100 flex flex-column pt3">
		<h2 class="f-subheadline white fw6 ttc ma0">{{page.heroTitle}}</h2>
		<p class="f4 fw1 tc w-100 center ph2 white lh-copy tc mt5">{{page.heroSubtitle}}</p>
	</div>
</section>

<section class="wrapper--n form w-100 tb4 center pv4">
	<p class="f4 fw1 tc w-100 center pv4 brand-blue lh-copy tc mb3">{{page.contactText}}</p>
	<img src="{{site.baseurl}}/assets/img/icons/icon7.svg" alt="Icon" class="db center mb4">
	<div class="w-100 w-80-l center relative b--near-white ba pa4 br2 mb5">
		<form id="contactForm" class="ma0" method="post" enctype="multipart/form-data">
			<input id="inputName" name="name" type="text" class="b--moon-gray ba input-reset w-100 mb3 br2 ph3 pv2 pointer" placeholder="{{page.contact.placeholderName}}">
			<input id="inputEmail" name="email" type="email" class="b--moon-gray ba input-reset w-100 mb3 br2 ph3 pv2 pointer" placeholder="{{page.contact.placeholderMail}}">
			<textarea id="inputText" name="text" rows="8" cols="80" class="b--moon-gray ba input-reset w-100 br2 ph3 pv2 pointer" placeholder="{{page.contact.placeholderText}}"></textarea>
			<input type="submit" class="custom-btn orange-btn mt4 db center" value="Send" onClick="submitToAPI(event)">
		</form>
	</div>
</section>


<section class="blue-banner--full w-100 tb4 center pv4 ph3 bgray">
	<div class="wrapper--n flex flex-column justify-center items-center">
		<h2 class="f1 tc fw7 mt0 mb4 white w-80 center">{{page.accessBanner.title}}</h2>
		<a href="javascript:void(0)" onclick="earlyAccess()" class="custom-btn orange-btn center">{{ page.accessCta }}</a>
	</div>
</section>
