<section class="hero bblue vh-100 vh-100-m vh-100-l flex items-center flex-column justify-center tc white">
	<div class="wrapper--n w-100 flex flex-wrap pt3">
		<div class="w-100 w-50-l flex flex-column pr6-l">
			<h1 class="f1 f-subheadline-m f-subheadline-l fw9 w-100 w-90-m w-100-l center mt0 mb3 tc tl-l lh-solid">{{ page.heroTitle }}</h1>
			<p class="f3 fw1 w-100 w-80-m w-100-l center tc tl-l mt0 mb4 lh-copy">{{ page.subtitle }}</p>
			<div class="w-100 flex-column flex-row-m flex-row-l flex mt3 justify-center justify-center-m justify-start-l">
				<a href="javascript:void(0)" onclick="earlyAccess()" class="custom-btn orange-btn mb3 mb0-m mb0-l mr2-m mr2-l">{{ page.accessCta }}</a>
				<a href="javascript:void(0)" onclick="joinTeam()" class="custom-btn outline-btn">{{ page.joinTeam }}</a>
			</div>
		</div>
		<div class="w-100 w-50-l dn dn-m flex-l">
			<img src="{{site.baseurl}}/assets/img/imac.svg"  class="w-50 db center absolute-l right-0 bottom-0">
		</div>
	</div>
</section>


<section class="wrapper--n w-100 pv5 tb4 center">
	<h2 class="f1 tc fw7 mt5 mb3 brand-blue">{{ page.architectureTitle }}</h2>
	<p class="f4 tc fw3 mt0 mb4 mb5-l w-60-l brand-blue center lh-copy">{{ page.architectureSubtitle }}</p>
	<div class="flex flex-wrap">
		<div class="center w-100-s w-50-m w-50-l mb5-s mb4-m">
			<img src="{{site.baseurl}}/assets/img/architecture.svg" class="w-100 db center">
		</div>
		<div class="cf ph0-m w-100 w-50-l center flex flex-column">
			{% for item in page.rowBlocks1 %}
				<div class="w-100 w-80-l center mb4">
					<div class="bgray br2 pa3 flex flex-column">
						<h5 class="fw6 f4 ma0">{{item.title}}</h5>
						<p class="mv3 fw1 f5 lh-copy">{{item.text}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>


<section class="bg-grayimg w-100 pb7-m pb7 pt6 center mt4">
	<div class="flex flex-wrap wrapper--n">
		<div class="cf ph0-m w-100 w-50-l center flex flex-column mb5-s mb4-m">
			{% for item in page.rowBlocks2 %}
				<div class="w-100 w-80-l center mb4">
					<div class="bg-white br2 pa3 flex flex-column">
						<h5 class="fw6 f4 ma0">{{item.title}}</h5>
						<p class="mv3 fw1 f5 lh-copy">{{item.text}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="center w-100-s w-50-m w-50-l">
			<img src="{{site.baseurl}}/assets/img/architecture2.svg" class="w-100 db center">
		</div>
	</div>
</section>

<section class="banner w-100 tb4 center ph0 pv5-l">
	<div class="wrapper--n blue-banner flex flex-column justify-center items-center pv6 pv0-m pv0-l">
		<h2 class="f2 f1-l tc fw7 mt0 mb4 white w-100 w-80-l center">{{page.accessBanner.title}}</h2>
		<a href="javascript:void(0)" onclick="earlyAccess()" class="custom-btn orange-btn center">{{ page.accessCta }}</a>
	</div>
</section>

<section class="w-100 pv5">
	<div class="wrapper--n">
		<h2 class="f1 tc fw7 mt0 mb4 brand-blue w-100 center">{{page.featuresTitle}}</h2>
		<div class="w-100 mt5 icons flex flex-wrap center justify-center">
			{% for item in page.features %}
				<div class="fl w-50 w-30-m w-25-l mb5 mb6-l">
					<img src="{{site.baseurl}}{{item.icon}}" alt="Icon" class="db center">
					<div class="mw5 f5 tc fw1 mt3 ph3 lh-copy">{{item.text}}</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="blue-banner--full w-100 tb4 center pv4 ph3-l bgray">
	<div class="wrapper--n flex flex-column justify-center items-center">
		<h2 class="f2 f1-l tc fw7 mt0 mb4 white w-100 w-80-l center">{{page.accessBanner.title}}</h2>
		<a href="javascript:void(0)" onclick="earlyAccess()" class="custom-btn orange-btn center">{{ page.accessCta }}</a>
	</div>
</section>
