<section class="heroOrange bblue vh-100 vh-80-m vh-100-l flex items-center flex-column justify-center tc white cover">
	<div class="wrapper--n w-100 flex flex-column pt3">
		<h2 class="f1 f-subheadline-m f-subheadline-l white fw6 ttc ma0">{{page.heroTitle}}</h2>
	</div>
</section>

<section class="w-100 w-100-m w-80-l center pv5 wrapper--n">
	<h1 class="f1 tc brand-blue fw3 ttc mt4 mb0">{{page.mainTitle}}</h1>
	{% for item in page.rowBlocks %}
		<div class="w-100 w-100-m w-100-l pr3 pv2">

			{% if item.title %}
				<h1 class="brand-blue fw3 ttc mb2">{{item.title}}</h1>
			{% endif %}

			{% if item.text %}
				<p class="dark-gray lh-copy">{{item.text}}</p>
			{% endif %}

		</div>
	{% endfor %}
</section>
